@mixin field {
  width: 50%;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 1px;
  border-radius: 5px;
  border: 1px solid #D8D8D8;
}

@mixin textarea {
  width: 100%;
  height: calc(5em + 20px);
  padding: 5px 10px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 16px;

  h2 {
    margin: 0;
    flex-grow: 0;
    flex-shrink: 2;
  }
}

.btn_container {
  display: flex;
  justify-content: flex-end;
}

.form {
  display: flex;
  flex-direction: column;
  margin-top: 18px;
  padding: 20px 6px 20px 12px;
  font-size: 10px;
  line-height: 10px;
  border-radius: 8px;
  border: 1px solid #F3F3F3;

  .label {
    font-size: 8px;
    line-height: 10px;
    margin-bottom: 10px;
  }

  .label_text {
    margin-bottom: 3px;
  }

  .field {
    @include field;
  }

  .field_readonly {
    @include field;
    color: rgba(0, 0, 0, 0.3);
    &:focus {
      border: none;
    }
  }

  .field_error {
    @include field;
    border: 1px solid #D91313;
  }

  .field_textarea {
    @include textarea;
  }

  .form_buttons {
    display: flex;
    justify-content: flex-end;
  }
}
