.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

@mixin filterLabel {
  flex-shrink: 0;
  width: 14px;
  height: 14px;
  margin-left: 12px;
  border-radius: 7px;
}

.filterLabel {
  @include filterLabel;
  background-color: yellow;
}

.filterLabel_disabled {
  @include filterLabel;
  background-color: inherit;
}
